#login {
    @media (max-width: 600px) {
        #searchInput {
            display: none;
        }
    }

    @media (max-width: 768px) {
        .title-item-navbar {
            width: 0px;
            overflow: hidden;
        }

        #sidebar {
            height: calc(100vh - 72px);
            top: 72px;
            overflow: scroll;

            .container {
                padding-top: 0;
            }

            h2 {
                display: none;
            }
        }


        .navbar-contents {
            .navbar-brand {
                h1 {
                    display: flex;
                }
            }

            .item {
                .dropdown-messages {
                    .nav-link {
                        padding-right: 0;

                    }
                }

                .dropdown-notifications {
                    .nav-link {
                        padding-right: 0;

                    }
                }



                .icon-background {
                    margin-right: 0px;

                }
            }

        }
    }


    @media (max-width: 1024px) {
        .container {
            max-width: 1024px;
        }
    }

    @media (min-width: 1400px) {
        .container {
            max-width: 1320px;
        }


    }
}