@use '../variables';
@use '../mixin';


#navbar-admin {
    width: 100%;
    font-family: variables.$primaryFontFamilyAdmin;

    .container {
        padding: 0;
    }

    .navbar-contents {
        @include mixin.positionDisplay(flex, center, center);
        height: 4.5em;
        background-color: variables.$grayBackgroundAdmin;

        .navbar-brand {
            @include mixin.positionDisplay(flex, center, center);
            margin-left: 10px;
            margin-right: 0px;

            a {
                text-decoration: none;
            }

            h1 {
                font-size: 40px;
                font-weight: 600;
                margin: 0 15px 0 0;
                color: variables.$blueColorAdmin;
                display: none;
                cursor: pointer;
            }

            svg {
                color: variables.$blueColorAdmin;
            }
        }

        #searchInput {
            margin-left: 10px;
            border: none
        }

        svg {
            @include mixin.defaultWidthHeight(20px, 20px);
        }

        .icon-background {
            @include mixin.positionDisplay(flex, center, center);
            @include mixin.defaultWidthHeight(40px !important, 40px);
            background-color: white;
            border-radius: 100%;
            margin-right: 10px;
            cursor: pointer;

        }

        .item {
            display: flex;
            justify-content: flex-end;

            div {
                margin-right: 10px;
            }

            .dropdown {
                margin-right: 0;
            }

            .dropdown-menu {
                background-color: variables.$grayBackgroundAdmin;
                border: none;
                padding-bottom: 0px;
            }

            .dropdown-item:hover {
                background-color: variables.$grayDarkerBackgroundAdmin;
            }


            .dropdown-messages {
                .dropdown-item {
                    display: flex;
                    border-bottom: 1px solid variables.$grayDarkerBorder;
                    padding: 10px 20px;

                    img {
                        @include mixin.defaultWidthHeight(45px, 45px);
                    }

                    div {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        line-height: 10px;
                        margin-left: 10px;
                    }

                    h6 {
                        font-weight: 400;
                    }

                    &:last-child {
                        justify-content: center;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        border: none;
                    }

                }


            }

            .dropdown-notifications {
                .dropdown-item {
                    text-align: left;
                    line-height: 10px;
                    padding: 10px 20px;
                    border-bottom: 1px solid variables.$grayDarkerBorder;

                    &:last-child {
                        justify-content: center;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        border: none;
                    }

                    h6 {
                        font-weight: 400;
                    }
                }
            }
        }

        span {
            @include mixin.positionDisplay(flex, center, center);
            flex-wrap: nowrap;
            font-size: 16px;
            font-weight: 500;

            .nav-custom-arrow {
                @include mixin.defaultWidthHeight(25px, 25px);

            }
        }
    }



}